<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in Your City</title>
    <link rel="stylesheet" href="css/styles1.css">
</head>
<body>
    <div class="container">
        <h1>Weather in Your City - <%=cityName%></h1>
        <div class="weather-info">
            <h2>Kelvin: <span id="kelvin"><%=weatherArray[0]%></span></h2>
            <h2>Celsius: <span id="celsius"><%=weatherArray[1]%></span></h2>
            <h2>Fahrenheit: <span id="fahrenheit"><%=weatherArray[2]%></span></h2>
        </div>
    </div>
</body>
</html>
