/* Reset some default styles */
body, h1, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2e3b4e 0%, #232526 100%);
    /* background-image: url('../Image/noaa-SLDSYepv0n8-unsplash.jpg'); */
    color: #f0f0f0;
}

.container {
    text-align: center;
    background: rgba(34, 34, 34, 0.8);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.heading {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff9f43;
}

.subheading {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #f0f0f0;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #ff9f43;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #ff784e;
    transform: scale(1.05);
}
